.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
	padding-inline: 40px;
	display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
	flex-shrink: 0;	
}

.content {
	flex: 1;
}