.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
	padding-inline: 40px;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
	flex-shrink: 0;	
	position: relative;
}

.header::after {
	content: '';
	height: 1px;
	width: 500vw;
	background: var(--primary-light);
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateX(-50%);
}

.content {
	flex: 1;
}