.button {
	width: 100%;
	padding: 15px;
	background: var(--secondary);
	color: var(--primary);
	border-radius: 25px;
	font-weight: 400;
	font-size: 25px;
}

@media(max-width: 1300px) {
	.button {
		font-size: 21px;
		padding: 10px
	}
}