.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 5px;
	border-bottom: 2px solid var(--primary-light);
	margin-inline: -40px;
    padding-inline: 40px;
}


.logo {
	width: auto;
	flex-shrink: 0;
}