.page {
	padding: 20px 100px;
}

.description {
	text-align: center;
	color: var(--gray);
	font-size: 19px;
	margin-bottom: 28px;
}

:root[data-theme="dark"] .description {
	color: #C8D9FF;
}

.element {
	display: flex;
	flex-direction: row-reverse;
	gap: 90px;
	align-items: center;
	margin-bottom: 50px;
}

.element:last-child {
	margin-bottom: 0;
}

.element:nth-child(even) {
	flex-direction: row;
}

:root[data-theme="dark"] .avatarWrapper {
	box-shadow: 0px 0px 7px #C8D9FF;
}

.avatarWrapper {
	box-shadow: 0px 0px 7px rgba(0, 0, 0, .5);
	border-radius: 25px;
	padding: 28px;
	max-width: 450px;
}

.avatar {
	width: 100%;
	aspect-ratio: 1;
	overflow: hidden;
}

.avatar img {
	object-fit: cover;
	width: 100%;
    height: 100%;
}

.name {
	margin-top: 28px;
	font-size: 32px;
	font-weight: 400;
	color: var(--primary);
	text-align: center;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 28px;
}

.contentWrapper button {
	max-width: 389px;
	font-size: 21px;
	margin-left: 160px;
	margin-top: 50px;
}

.properties {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 72px;
}

.property {
	display: flex;
	gap: 15px;
}

:root[data-theme="dark"] .property > p {
	color: #C8D9FF;
}

.property > p {
	color: #3544A4;
	font-size: 21px;
}

.property > p:first-child {
	flex-basis: 150px;
    text-align: end;
    flex-shrink: 0;
}

@media (max-width: 1400px) {
	.page {
		padding-inline: 0;
	}
	.element {
		gap: 40px;
	}
	.avatarWrapper {
		max-width: 400px;
	}
	.name {
		font-size: 26px;
		margin-top: 15px;
	}
	.contentWrapper {
		padding-bottom: 0;
	}
	.properties {
		gap: 40px;
	}
}

@media (max-width: 1100px) {
	.page {
		padding-inline: 0;
	}
	.description {
		font-size: 16px;
	}
	.element {
		gap: 30px;
	}
	.avatarWrapper {
		max-width: 300px;
		padding: 20px;
	}
	.name {
		font-size: 21px;
	}
	.property p {
		font-size: 16px;
	}
	.property > p:first-child {
		flex-basis: 110px;
	}
	.properties {
		gap: 20px;
	}
	.contentWrapper button {
		font-size: 16px;
		max-width: 300px;
		margin-top: 30px;
	}
}

@media (max-width: 850px) {
	.element {
		flex-direction: column !important;
	}
	.contentWrapper button {
		margin-inline: auto;
	}
}

@media (max-width: 500px) {
	.description {
		font-size: 13px;
	}
	.element {
		gap: 20px;
	}
	.property {
		gap: 10px;
	}
	.property p {
		font-size: 14px;
	}
	.property > p:first-child {
		flex-basis: 90px;
	}
}
